@font-face {
    font-family: 'fonte1.ttf';
    font-display: swap;
    src: local('fonte1.ttf'), url('~@/assets/fonts/fonte1.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'fonte2ttf';
    font-display: swap;
    src: local('fonte2.ttf'), url('~@/assets/fonts/fonte2.ttf') format('truetype');
  }
  
 